**/.emacs.desktop*
*.cof
*.err
*.log
*.lst
*.map
*.mcs
*.mcw
*.ERR
*.LST
**/*~
**/.map
**/build/
**/default/
**/dist/
**/logs/
**/nbproject/private/
**/nbproject/Makefile*
**/nbproject/Package*
/nbproject/private/
/dist/
/build/